<html>
<head>
   <title> Survey Form </title>
</head>
<body>
   <h1> Welcome to QuotingDojo</h1>
   <form action="/result" method="post">
       <div id="name">
           <label for="name"> Your Name:</label>
           <input type="text" name="name">
       </div>
       <div id="location">
           <label for="location"> Your Quote: </label>
           <select name="dojo_location">
               <option value="Mountain View"> Mountain View </option>
               <option value="Seattle, WA"> Seattle, WA </option>
               <option value="Los Angeles"> Los Angeles </option>
               <option value="Canada"> Canada </option>
           </select>
       </div>
     
       <input type="submit" value="Submit">                
   </form>
</body>
</html>