<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Here are the awesome qoutes </h1>
    <form action="/result" method="post">

    <label for="name"> Dr Seuess</label>
           <input type="text" name="name">
       </div>
       <div id="qoutes">
           <label for="your_quotes"> Your Quote: </label>
          <ul> “Don't cry because it's over, smile because it happened.” ― Dr. Seuss</ul>
          
       </div>
</body>
</html>